<div class="offcanvas-menu">
  <input type="checkbox" id="toogle-menu" />

  <label for="toogle-menu" class="toogle-open" style="background-color: none"
    ><span></span
  ></label>

  <nav>
    <div style="background-color: #fafcff04">
      <a
        style="
          background-color: #bdddff00;
          font-weight: 800;
          font-weight: bold;
          margin-left: -20px;
        "
      >
        <img src="../assets/EMS Heading.jpg" width="275"
      /></a>
      <label
        for="toogle-menu"
        class="toogle-close"
        style="background-color: #bdddff"
      >
        <span></span>
      </label>
    </div>
    <ul>
      <li style="background-color: #bdddff">
        <a style="background-color: #bdddff; font-size: 24px" 
          ><i
            class="fa fa-home"
            style="color: black; background-color: #bdddff; font-size: 24px"
          ></i>
          Home
        </a>
      </li>
      <li style="background-color: #bdddff">
        <a
          style="background-color: #bdddff; font-size: 24px"
          routerLink="/AddEmployees"
          ><i
            class="fa fa-user"
            style="color: black; background-color: #bdddff; font-size: 24px"
          ></i>
          Employee
        </a>
      </li>
      <li style="background-color: #bdddff">
        <a style="background-color: #bdddff; font-size: 24px" routerLink="/Employees"
          ><i
            class="fa fa-group"
            style="color: black; background-color: #bdddff; font-size: 24px"
          ></i>
          Employees
        </a>
      </li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
